

<!-- Toolbar -->

<!-- <mat-toolbar class="toolbar">
  <img
    width="40"
    alt="Medical"
    src="https://img.icons8.com/material-outlined/24/000000/medical-doctor.png"
  />
  <button mat-stroked-button color="secondary">File</button>
  <a routerLink="/search" routerLinkActive="active">Search</a> 
</mat-toolbar> -->

<!-- <div class="content" role="main">
  <form class="form-horizontal">
    <div class="md-form mt-0">
      <input
        class="form-control lg-3 ml-75"
        type="text"
        placeholder="Search for a patient"
      />
    </div>
  </form>
  <h2>Patient List</h2> -->

  <!-- <table class="mat-elevation-z8">
    <tr>
      <th *ngFor="let column of headers">
        {{ column }}
      </th>
    </tr>

    <tr *ngFor="let row of rows">
      <td *ngFor="let column of headers">
        {{ row }}
      </td>
    </tr>
  </table> -->
<!-- </div> -->

<router-outlet></router-outlet>
 <!--routed views go here-->
